/* General Styles */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Reader', sans-serif;
    text-decoration: none;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
    font-size: 15px;
    font-family: 'Reader', sans-serif;
    letter-spacing: 1px;
}

p {
    color: white;
    font-size: 15px;
    font-family: 'Reader', sans-serif;
    letter-spacing: 1px;
}

/* Header */
.site-header-banner span {
    display: block;
    color: #343434;
    text-align: center;

    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #e6e6e6;
    padding: 5px 0;
    font-size: 13px;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 1px;
    background-color: white;
    font-size: 12px;
    padding-bottom: 2px;
}

a {
    text-decoration: none;
    color: #000000;
}

.logo {
    width: 200px;
}

/* creaserunner (image) */
.creaserunner-image {
    overflow: auto;
    height: 450px;
    background-image: url('./images/crease-runner1.jpg');

}

.creaserunner-image h1 {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    padding: 15px;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
}

.creaserunner-image p {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    margin-top: 100px;

}

.creaserunner-image button {
    border: solid;
    border-color: white;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 50px;
    display: block;
    color: white;
}


/* buttons (MEN and WOMEN) */
.btn {
    padding: 15px 20px;
    font-size: 15px;
    color: black;
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: transparent;
    font-size: 13px;
}


section.test {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.btn:first-of-type {
    margin-right: 10px;
}

/* Innovation and signature */
@media (min-width: 800px) {
    .homepage-shoes {
        display: flex;
    }
}

.homepage-shoe {
    width: 100%;
}

.homepage-shoe img {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin: auto;
}

.homepage-shoe {
    width: 100%;
}

/* readytowear */

.readytowear-image {
    overflow: auto;
    height: 250px;
    width: 100%;
    background-image: url('./images/readytowear.jpg');
    background-position: center;
}

.readytowear-image h1 {}

.readytowear-image p {}



/* collection */

.collection-image {
    width: 100%;
    height: auto;
}

.collection img {
    width: 100%;
    height: auto;
}

/* Footer */

.footer-content {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #e6e6e6;
    color: #737272;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 0.75rem;

}
